# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/gha-oidc
/gha-oidc.exe

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# IDE / OS specific files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
