# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
/gha-oidc
/gha-oidc.exe

# Test binary & coverage
*.test
*.out
coverage.out

# Go workspace
go.work

# IDE / OS specific files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
